.node {
    width: 80px;
    height: 40px;
    border: 1px solid black;
}

.nodeStart {
    /* background-image: url('../../Images/start.png'); */
    background-color: green;
}

.nodeEnd {
    /* background-image: url('../../Images/end.png'); */
    background-color: red;
}